h1 {
    color: #3498db; (a shade of blue) 
}

p {
    color: rgb(255, 99, 71); (tomato)
}
  
a {
    color: red;
}

body {
    background-color: #f1f1f1; 
}

div {
    background-color: rgb(255, 192, 203);
}

  



