.navbar {
    background-color: #333; 
    justify-content: center;
}

.btn-primary {
    color: #fff;           
    background-color: #f00;
    justify-content: center;
    align-items: center; 
}

.custom-heading {
    font-size: 24px;
    color: #555;
}

 .click-me{
    color: blue;           
    background-color: blue;
    justify-content: center;
    align-items: center; 
}

.Warning{
    color: #fff;           
    background-color: violet;
    justify-content: center;
    align-items: center; 
}

.Tamil {
    color: #fff;           
    background-color: black;
    justify-content: center;
    align-items: center; 
}